// Cores
$cor_1: #1a76f2;
$cor_2: #1565ce;
$cor_3: linear-gradient(84.06deg, #0088FF -28.62%, #A033FF 36.39%, #FF5C87 98.74%);
$cor_4: #369623;
$cor_5: #c75000;
$cor_6: #eff2f5;

a, li, button, input{
    transition: all 0.2s ease-out;
    text-decoration: none;
    list-style-type: none;
}

.menu{
    padding: 40px 0 10px 0;
    font-size: 0.9em;

    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    img{
        width: 2.5em;
        height: auto;
    }

    ul{
        display: flex;
        margin: 0;
        
        li{
            font-weight: 500;
            margin: 0 15px;
            border-bottom: 3px solid transparent;

            &:hover{
                width: auto;
                border-bottom: 3px solid $cor_1;
            }

            a{
                color: #000;
                text-decoration: none;
            }

        }
        
    }    

}

.mensagem{
    margin: 100px 0 0 0;

    h1{
        line-height: 1.2;
        font-size: 3.5em;
        font-weight: bold;
        background-image: linear-gradient(83.84deg, #0088FF -6.87%, #A033FF 26.54%, #FF5C87 58.58%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    p{
        margin: 10px 0 40px 0;
        color: rgb(73, 73, 73);
    }
    
    button{
        color: #fff;
        background: $cor_1;
        padding: 15px 25px;
        border-radius: 50px;
        margin: 0 0 40px 0;

        span{
            font-weight: bold;
        }

    }

    .social{
        width: 30%;
        height: auto;
        margin: 15px 0;
    }

    img{
        width: 100%;
        height: auto;
        margin: 15px 0;
    }

}

.footer{

    .container{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    small{
        font-weight: bold;
    }

    p{
        font-size: 0.8em;
        margin: 0 10px;
    }
   
}

.insta_messenger{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: auto;
    padding: 1.5em;
    color: #fff;
    display: flex;
    align-items: center;
    background: $cor_3;
    
    .row{
        justify-content: center;
        align-items: center;
    }

    img{
        width: 6em;
        height: auto;
        margin: 5px 10px 5px 0;
    }

    p{
        margin: 0;
    }

    a {
        text-decoration: underline;
        color: #fff;
        font-weight: bold;

        &:hover{
            color: $cor_5;
        }

    }

    button{
        font-weight: bold;
        color: #fff;
        border: 0;
        background: transparent;
    }

}


// Media Queries
@media (max-width: 768px) { 


    
}
// Media Queries